.my-menu {
    height: 60px;
    padding: 15px 20px;
}

.menu-btn {
    width: 100px;
    height: 40px;
    border: 1px solid white;
    background: dodgerblue;
    border-radius: 10px;
    margin-right: 10px;
    color: white;
    vertical-align: top;
    cursor: pointer;
    outline: none;
}

.shared-data-example-btn {
    background: darkred;
    float: right;
}

.menu-btn:hover {
    background: blue;
}