<div class='my-menu'>
    <button class="menu-btn" (click)="changeView('dashboard')">Dashboard</button>
    <button class="menu-btn" (click)="changeView('details')">Details</button>
    <button class="menu-btn" (click)="changeView('sharedDataExample')">Shared Data Example</button>
    <button class="menu-btn" (click)="changeView('viewChildExample')">ViewChild Example</button>
    <button class="menu-btn shared-data-example-btn" (click)="addValueToSharedData()" *ngIf="selectedView === 'sharedDataExample'">Add data to shared service</button>
</div>